<div class="section white">
    <div class="container">
        <p class="grey-text text-darken-3 lighten-3">EventualTeam consiste en un grupo de estudiantes del grado en Ingeniería Informática de la Universitat Jaume I formado para desarrollar la aplicación web de gestión de eventos <b>Eventual</b>, donde los usuarios de la misma pueden crear y gestionar diferentes tipos de actividades, así como invitar a otros usuarios a participar en estas.
        </p>
        <p class="grey-text text-darken-3 lighten-3">La realización de este proyecto va a estar caracterizada por el uso de metodologías ágiles, las cuales van a favorecer buenos resultados aprovechando al máximo los recursos y tiempo disponibles, junto con el uso de tecnologías <i>state of the art</i>.</p>
        <img class="responsive-img margin-image" src="res/img2.jpg">
    </div>
</div>