<div class="section white">
    <div class="container">

        <div class="cardMargins" data-aos="fade-up">
            <div class="card horizontal">
                <div class="row nopadding align-items-center">
                    <div class="card-image imagediv col s12 m3 offset-s3">
                        <img class="memberImage" src="res/adri.jpg">
                    </div>
                    <div class="card-stacked nopadding col s12 m9">
                        <h5 style="margin-left: 25px" class="name">Adrián Enríquez Ballester</h5>
                        <div class="card-content description">
                            <p>Estudiante de los grados en Ingeniería Informática y Matemática Computacional en la Universitat Jaume I de Castellón. Con conocimientos avanzados de Java, Python, desarrollo de aplicaciones Android y menos pero no menos interesantes de lenguajes de programación funcional pura como Haskell.</p><br>
                            <p>A pesar de no haber continuado por ahora en la música de manera académica mantengo en lo posible esta dedicación, siendo el actual guitarrista del grupo valenciano <a target="_blank" href="https://www.youtube.com/watch?v=6DtfOQcqQ6w">Reversed and Reflected</a> y anteriormente miembro del grupo de metal progresivo <a target="_blank" href="https://www.youtube.com/watch?v=4wnDCqfbTsg">Axiomes </a> y Oboe en la <a target="_blank" href="https://www.youtube.com/watch?v=EcAzpq9pJlU">Banda de música Ciutat de Benicarló</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardMargins" data-aos="fade-up">
            <div class="card horizontal">
                <div class="row nopadding align-items-center">
                    <div class="card-image imagediv col s12 m3 offset-s3">
                        <img class="memberImage" src="res/fernando.jpg">
                    </div>
                    <div class="card-stacked nopadding col s12 m9">
                        <h5 style="margin-left: 25px" class="name">Fernando Gómez Aparicio</h5>
                        <div class="card-content description">
                            <p>Estudiante del grado en Ingeniería Informática en la Universitat Jaume I de Castellón. Con la carrera de informática casi acabada, los conocimientos de Java son avanzados ya que es el lenguaje vehicular de la carrera. Además, también tengo conocimientos de Python, C, desarrollo de aplicaciones Android y de aplicaciones de escritorio con JavaFX. Próximamente voy a profundizar en el aprendizaje de PHP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cardMargins" data-aos="fade-up">
            <div class="card horizontal">
                <div class="row nopadding align-items-center">
                    <div class="card-image imagediv col s12 m3 offset-s3">
                        <img class="memberImage" src="res/marina.jpg">
                    </div>
                    <div class="card-stacked nopadding col s12 m9">
                        <h5 style="margin-left: 25px" class="name">Marina Castellote García</h5>
                        <div class="card-content description">
                            <p>Licenciada en Administración y Dirección de Empresas por la Universitat Jaume I de Castellón. Actualmente estudiando el grado de Ingeniería Informática en la misma universidad, en la especialidad de Ingeniería del Software. Siendo Java el lenguaje de programación del que tiene mayores conocimientos, también ha trabajado con Python y en el desarrollo de aplicaciones Android.</p>
                            <p>En estos momentos se encuentra realizando las prácticas de grado en la empresa Cuatroochenta, donde a continuación realizará 6 meses de prácticas por la FUE. Sus planes inmediatos son por tanto seguir desarrollando aplicaciones para Android.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
