<div class="section white">
    <div class="container">

        <div class="col s12 m7 cardMargins">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="memberImage" src="res/adri.jpg">
                </div>
                <div class="card-stacked">
                    <h5 style="margin-left: 25px" class="header">Adrián Enríquez Ballester</h5>
                    <div class="card-content">
                        <p>Estudiante de los grados en Ingeniería Informática y Matemática Computacional en la Universitat Jaume I de Castellón. Con conocimientos avanzados de Java, Python, desarrollo de aplicaciones Android y menos pero no menos interesantes de lenguajes de programación funcional pura como Haskell.</p><br>
                        <p>A pesar de no haber continuado por ahora en la música de manera académica mantengo en lo posible esta dedicación, siendo el actual guitarrista del grupo valenciano <a target="_blank" href="https://www.youtube.com/watch?v=6DtfOQcqQ6w">Reversed and Reflected</a>, caracterizado por la curiosa mezcla de música electrónica junto a una vertiente de metal en la que predomina la complejidad rítmica.</p><br>
                        <p>Anteriormente miembro del grupo de metal progresivo <a target="_blank" href="https://www.youtube.com/watch?v=4wnDCqfbTsg">Axiomes</a> y Oboe en la <a target="_blank" href="https://www.youtube.com/watch?v=EcAzpq9pJlU">Banda de música Ciutat de Benicarló</a>.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
