<div class="section white">
    <div class="container">

        <div class="cardMargins" data-aos="fade-up">
            <div class="card horizontal">
                <div class="row nopadding align-items-center">
                    <div class="card-image imagediv col s12 m3 offset-s3">
                        <img class="memberImage" src="res/adri.jpg">
                    </div>
                    <div class="card-stacked nopadding col s12 m9">
                        <h5 style="margin-left: 25px" class="name">Adrián Enríquez Ballester</h5>
                        <div class="card-content description">
                            <p>Estudiante de los grados en Ingeniería Informática y Matemática Computacional en la Universitat Jaume I de Castellón. Con conocimientos avanzados de Java, Python, desarrollo de aplicaciones Android y menos pero no menos interesantes de lenguajes de programación funcional pura como Haskell.</p><br>
                            <p>A pesar de no haber continuado por ahora en la música de manera académica mantengo en lo posible esta dedicación, siendo el actual guitarrista del grupo valenciano <a target="_blank" href="https://www.youtube.com/watch?v=6DtfOQcqQ6w">Reversed and Reflected</a> y anteriormente miembro del grupo de metal progresivo <a target="_blank" href="https://www.youtube.com/watch?v=4wnDCqfbTsg">Axiomes </a> y Oboe en la <a target="_blank" href="https://www.youtube.com/watch?v=EcAzpq9pJlU">Banda de música Ciutat de Benicarló</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
