<div class="section white">
    <div class="container">
        <div align="center">
            <img src="res/jira.svg" width="40%" height="40%"  style="padding-bottom: 5%;padding-top: 5%;" class="responsive-img">
        </div>
        <p class="grey-text text-darken-3 lighten-3">
            Para la gestión y control del proyecto, hemos utilizado SCRUM, una metodología ágil utilizada para completar proyectos complejos con éxito.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
            Si comparamos Scrum con metodologías más tradicionales de gestión de proyectos, como por ejemplo la de cascada, en esta última los proyectos se realizan secuencialmente. En primer lugar
            se planifica el proyecto, después de construye, y finalmente se testea, se revisa y se pone en marcha. El problema con este tipo de metodologías es que este proceso puede durar muchos meses, incluso años, y en este
            tiempo el mercado puede cambiar, por lo que es muy posible acabar con un producto que ya no se ajusta al mercado actual.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
            Con Scrum este proceso se divide en partes pequeñas, de forma que se planea lo necesario para poder empezar a construir un pequeño set de funcionalidades, después estas se desarrollan, se testean, se
            revisan y finalmente se preparan para poder ser entregadas. Después este ciclo se repite una y otra vez hasta que finalmente se obtiene el producto acabado. Estos ciclos se llaman sprints, y suelen durar entre 1 y 4 semanas.
            En el caso de Eventual, hemos llevado a cabo 4 sprints de entre 2 y 3 semanas cada uno.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
            La metodología Scrum define tres tipos de roles importantes:
        </p>
        <li>
            En primer lugar, el propietario del producto es la persona que define la funcionalidad que será necesaria desarrollar durante el proyecto. En nuestro caso, Fernando Gómez es la persona que ha llevado a cabo este papel.
        </li>
        <li>
            El Scrum Manager es quien se encarga de organizar al equipo y las reuniones, asignar las diferentes tareas a cada miembro, y conseguir que el proyecto siga en marcha. Efrén Grau es nuestro Scrum Manager.
        </li>
        <li>
            El resto del equipo se compone de desarrolladores, testers y cualquier persona que ayuda a construir el proyecto. Los 5 miembros de Eventual han representado estos papeles.
        </li>
        <p class="grey-text text-darken-3 lighten-3">
            Otra parte importante de la metodología son las reuniones. Hay tres tipos:
        </p>
        <li>
            La planificación del sprint: En esta reunión, el equipo discute qué funcionalidades serán priorizadas y pasarán al siguiente sprint.
        </li>
        <li>
            A continuación, tememos el daily scrum, que son un tipo de reuniones durante las cuales los miembros del equipo explican lo que han hecho desde la última reunión y los problemas que han encontrado.
            El objetivo es facilitar la transferencia de información y la colaboración entre los miembros del equipo para aumentar su productividad, al poner de manifiesto puntos en los que se pueden ayudar unos a otros.
        </li>
        <li>
            La revisión del sprint, que tiene lugar después de haber finalizado este, es una reunión en la cual el equipo demuestra al propietario del producto las funcionalidades que han completado hasta el momento.
        </li>
        <p class="grey-text text-darken-3 lighten-3">
            A parte de Scrum, también hemos usado una serie de herramientas para ayudarnos a implementar el proyecto.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
            En primer lugar esta Jira Software, una herramienta de gestión de proyectos usada por equipos ágiles. Hemos usado la web de Jira para crear nuestras historias de usuario, planear los 4 sprints,
            y distribuir las tareas entre el equipo. Cada tarea a desarrollar pasará por 4 fases distintas:
        </p>
        <li>
            Por hacer. Son las tareas asignadas al sprint en espera de ser implementadas.
        </li>
        <li>
            En progreso. Son aquellas tareas actualmente en  desarrollo, con un máximo de dos tareas simultáneas por persona.
        </li>
        <li>
            En pruebas. A espera de que el director de proyecto dé conformidad. De lo contrario la tarea volverá a estar en progreso.
        </li>
        <li>
            Hecho. Una vez el director de proyecto da conformidad, la tarea queda finalizada.
        </li>
        <p class="grey-text text-darken-3 lighten-3">
            Otra herramienta que hemos usado ha sido Slack, una web para la comunicación entre equipos. En esta, hemos organizado las conversaciones del equipo en canales según el tema de discusión. También lo hemos usado
            para transcribir el contenido de las reuniones de planificación y revisión de los distintos sprints.
        </p>
        <p class="grey-text text-darken-3 lighten-3">
            Por último, hemos usado GitHub, una plataforma de subida de código que proporciona control de versiones. Esto ha sido clave a la hora de organizar el código, saber lo que cada miembro del equipo ha hecho,
            y juntar cada parte del desarrollo sin errores.
        </p>
        <img style="padding-bottom: 5%;padding-top: 5%;" class="responsive-img" src="res/img3.png">
    </div>
</div>

