<div class="section white">
    <div class="container center">
        <h2>¿Qué permite hacer Eventual?</h2>
        <h5 style="text-align:left;">A todos los usuarios:</h5>
        <p>Registrarse en la web para poder después acceder con su usuario y contraseña.</p>
        <p>Modificar su perfil de usuario, incluyendo datos como: nombre, edad, teléfono, descripción, y si desea o no recibir distintos tipos de notificaciones, y seleccionar cuáles de estos datos son públicos.</p>
        <p>Añadir comentarios, fotografías o vídeos en eventos en los que esté invitado.</p>
        <p>Consultar la lista de eventos en los que esté participando.</p>
        <p>Consultar información de eventos en los que esté invitado o sean públicos.</p>
        <p>Buscar eventos públicos mediante un filtro de búsqueda por lugar y tipo de evento.</p>
        <p>Aceptar o denegar invitaciones a participar en un evento.</p>
        <p>Consultar los datos públicos de los usuarios.</p>
        <p>Salir de un evento del que el usuario forma parte.</p><br>
        <h5 style="text-align:left;">La aplicación permite a los usuarios gestores de eventos:</h5>
        <p>Crear un nuevo evento, incluyendo: nombre del evento, descripción, tipo de evento, localización, fecha y hora.</p>
        <p>Modificar un evento, cambiando cualquiera de sus características.</p>
        <p>Cancelar un evento.</p>
        <p>Invitar participantes al evento (debe saber su usuario).</p>
        <p>Eliminar participantes de un evento.</p>
        <p>Eliminar fotos, comentarios y vídeos añadidos por participantes del evento.</p>
        <p>Consultar la lista de eventos que ha creado.</p>
    </div>
</div>