<div class="section white">
    <div class="container center">
        <h2>¿Qué permite hacer Eventual?</h2><br><br><br>
        <h5 style="text-align:left;">A todos los usuarios:</h5><br>
        <li>Registrarse en la web para poder después acceder con su usuario y contraseña.</li>
        <li>Modificar su perfil de usuario, incluyendo datos como nombre, fecha de nacimiento, teléfono y descripción.</li>
        <li>Añadir comentarios, fotografías o vídeos en eventos en los que esté invitado.</li>
        <li>Consultar la lista de eventos en los que esté participando.</li>
        <li>Consultar información de eventos en los que esté invitado o sean públicos.</li>
        <li>Buscar eventos públicos mediante un filtro de búsqueda por lugar y tipo de evento.</li>
        <li>Aceptar o denegar invitaciones a participar en un evento.</li>
        <li>Consultar los datos públicos de los usuarios.</li>
        <li>Salir de un evento del que el usuario forma parte.</li>
        <br><br><br>
        <h5 style="text-align:left;">A los usuarios sobre la gestión de sus eventos:</h5><br>
        <li>Crear un nuevo evento, incluyendo: nombre del evento, descripción, tipo de evento, localización, fecha y hora.</li>
        <li>Modificar un evento, cambiando cualquiera de sus características.</li>
        <li>Cancelar un evento.</li>
        <li>Invitar participantes al evento (debe saber su usuario).</li>
        <li>Eliminar participantes de un evento.</li>
        <li>Eliminar fotos, comentarios y vídeos añadidos por participantes del evento.</li>
        <li>Consultar la lista de eventos que ha creado.</li>
    </div>
    <div class="container center margin-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XP9hbdIvhq8" frameborder="0" allowfullscreen></iframe>
    </div>
</div>