<div class="section white">
    <div class="container center">
		<h2>Financiación</h2>
		<p>Uno de los aspectos más importantes de un proyecto es la financiación. Hay que saber cómo se va a sostener el sistema económicamente. A continuación se muestran los principales medios de financiación de Eventual:</p>
		<li>Clientes: Los organizadores de eventos importantes (como el FIB por ejemplo) podrán anunciarlos en nuestra web para que todos nuestros usuarios puedan ver los detalles e inscribirse. Además, se añadiría el extra de marcar el evento como recomendado.</li><br>
		<li>Inversores: Mediante inversores privados. La idea es ir a eventos de emprendedores para exponer nuestra idea, enseñar lo que hemos desarrollado y captar la atención de inversores privados para obtener financiación.</li><br>
		<li>Publicidad: En cada evento se podrá publicitar artículos relacionados con dicho evento, las empresas que vendan dichos artículos podrán pagar por ser las que se muestren en el anuncio.</li><br>
    </div>
</div>