<html>
<head>
    <title>EventualTeam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

    <!--Import AOS-->
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

    <!--Import headroom-->
    <script type="text/javascript" src="js/headroom.min.js"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <!--Custom js and css-->
    <script type="text/javascript" src="js/main.js"></script>
    <link type="text/css" rel="stylesheet" href="css/eventualtm.css" rel="stylesheet"/>

    <!--Web icon-->
    <link rel="icon" href="res/logo.png">

</head>
<body>

<!--Navbar-->
<div class="navbar-fixed">
    <nav class="nav-extended blue-grey lighten-2">
        <div class="nav-wrapper">
            <a style="padding-left:10px;padding-right:10px" href="#" class="brand-logo"><img width="40" src="res/logo.png">EventualTeam</a>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li id="buttonTab1" class="tab"><a href="#tab1">Quiénes somos</a></li>
                <li id="buttonTab2" class="tab"><a href="#tab2">Equipo</a></li>
                <li id="buttonTab3" class="tab"><a href="#tab3">Metodología</a></li>
                <li id="buttonTab4" class="tab"><a href="#tab4">Eventual</a></li>
                <li id="buttonTab5" class="tab"><a href="#tab5">Financiación</a></li>
            </ul>
        </div>
    </nav>
</div>

<!--Header image-->
<div class="parallax-container">
    <div class="parallax"><img src="res/img1.jpg"></div>
</div>

<!--Content (see home.html)-->
<div id="topTabs"></div>
{{{body}}}

<!--   Icon Section   -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Scrum</h5>

                    <p class="light">
                        Principales motivos para elegir la metodología SCRUM:
                    </p>

                    <li class="light">
                        Usa sprints quincenales, que ayudan a llevar el proyecto al día.
                    </li>
                    <li class="light">
                        Es muy adecuada para proyectos de tamaño medio como el nuestro.
                    </li>
                    <li class="light">
                         Aporta flexibilidad, existe la posibilidad de cambiar de acuerdo a nuevas necesidades sin grandes problemas.
                    </li>
                    <li class="light">
                        Funciona bien cuando el equipo de desarrollo no está familiarizado con las herramientas que va a utilizar.
                    </li>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Equipo</h5>

                    <p class="light">
                        Compuesto por 5 estudiantes de Ingerniería Informática en la UJI.
                        Es un equipo multidisciplinar en el que cada uno tiene experiencia y conocimientos en algún campo clave.
                    </p>
                    <p class="light">
                        Gracias a la coordinación de todos los componentes del grupo nos es posible desarrollar proyectos profesionales y competentes.
                    </p>
                    <p class="light">
                        Para más información de cada miembro individualmente, visita el apartado "Equipo".
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Tecnologías</h5>

                    <li class="light">
                        Ejecución sobre un servidor web Tomcat embebido en SpringBoot. Para la implementación de los servicios utilizamos el framework Jersey, estando todo desarrollado en Java.
                    </li>
                    <li class="light">
                        Diseño e implementación del cliente en Angular2, juntamente con los componentes del framework PrimeNG y los grids de Bootstrap para el posicionamiento y la parte responsive de la plataforma.
                    </li>
                    <li class="light">
                        Componentes desarrollados en Typescript, un superconjunto de Javascript compilado que nos permite obtener una aplicacion más rápida.
                    </li>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<!--Footer-->
<footer class="page-footer blue-grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">EVENTUAL</h5>
                <p class="white-text">Tu organizador de eventos.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://es.wikipedia.org/wiki/Scrum_(desarrollo_de_software)">Scrum</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://angular.io/">Angular 2</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.primefaces.org/primeng/">PrimeNg</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2017 Eventual. Todos los derechos reservados.
        </div>
    </div>
</footer>
</body>
</html>