<div class="tabsContentDiv">
    <div id="tab1"></div>
    <div id="tab2"></div>
    <div id="tab3"></div>
    <div id="tab4"></div>
</div>

<!--Load tabs content-->
<script type="text/javascript">

    for (var i = 1; i < 5; i++) {
        var oReq = new XMLHttpRequest();
        oReq.open("GET", "/tab" + i, true);
        oReq.onload = loadTab(i, oReq);
        oReq.send();
    }

    function loadTab(i, oReq) {
        return function (e) {
            var myText = oReq.responseText;
            document.getElementById("tab" + i).innerHTML = myText;
        }
    }

</script>