<div class="navbar-fixed">
	<nav class="nav-extended blue-grey lighten-2">
		<div class="nav-wrapper">
			<a style="padding-left:10px;padding-right:10px" href="#" class="brand-logo"><img width="40" src="res/logo.png"> EventualTeam</a>
		</div>
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li id="buttonTab1" class="tab"><a href="#tab1">Qué somos</a></li>
				<li id="buttonTab2" class="tab"><a href="#tab2">Equipo</a></li>
				<li id="buttonTab3" class="tab"><a href="#tab3">Metodología</a></li>
                <li id="buttonTab4" class="tab"><a href="#tab4">Eventual</a></li>
                <li id="buttonTab5" class="tab"><a href="#tab5">Tecnologías</a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="parallax-container">
	<div class="parallax"><img src="res/img1.jpg"></div>
</div>

<div id="topTabs"></div>
<br><br><br><br><br>
<div id="tab1" class="section white">
	<div class="container">
		<p class="grey-text text-darken-3 lighten-3">EventualTeam consiste en un grupo de estudiantes del grado en Ingeniería Informática de la Universitat Jaume I formado para desarrollar la aplicación web de gestión de eventos <b>Eventual</b>, donde los usuarios de la misma pueden crear y gestionar diferentes tipos de actividades, así como invitar a otros usuarios a participar en estas.
        </p>
	    <p class="grey-text text-darken-3 lighten-3">La realización de este proyecto va a estar caracterizada por el uso de metodologías ágiles, las cuales van a favorecer buenos resultados aprovechando al máximo los recursos y tiempo disponibles, junto con el uso de tecnologías <i>state of the art</i>.</p>
	    <img class="responsive-img" src="res/img2.jpg">
	</div>
</div>

<div id="tab2" class="section white">
	<div class="container">
        <div class="col s12 m7 cardMargins">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="memberImage" src="res/adri.jpg">
                </div>
                <div class="card-stacked">
                    <h5 style="margin-left: 25px" class="header">Adrián Enríquez Ballester</h5>
                    <div class="card-content">
                        <p>Estudiante de los grados en Ingeniería Informática y Matemática Computacional en la Universitat Jaume I de Castellón. Con conocimientos avanzados de Java, Python, desarrollo de aplicaciones Android y menos pero interesantes de lenguajes de programación funcional pura como Haskell.</p><br>
                        <p>A pesar de no haber continuado por ahora en la música de manera académica mantengo en lo posible esta dedicación, siendo el actual guitarrista del grupo valenciano <a target="_blank" href="https://www.youtube.com/watch?v=6DtfOQcqQ6w">Reversed and Reflected</a>, caracterizado por la polémica mezcla entre lo comercial y lo técnico, de música electrónica junto a una vertiente de metal en la que predomina la complejidad rítmica.</p><br>
                        <p>Anteriormente miembro del grupo de metal progresivo <a target="_blank" href="https://www.youtube.com/watch?v=4wnDCqfbTsg">Axiomes</a> y Oboe en la <a target="_blank" href="https://www.youtube.com/watch?v=EcAzpq9pJlU">Banda de música Ciutat de Benicarló</a>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7 cardMargins">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="memberImage" src="res/adri.jpg">
                </div>
                <div class="card-stacked">
                    <h5 style="margin-left: 25px" class="header">Efrén Grau Biosca</h5>
                    <div class="card-content">
                        <p>Descripción</a>.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7 cardMargins">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="memberImage" src="res/adri.jpg">
                </div>
                <div class="card-stacked">
                    <h5 style="margin-left: 25px" class="header">Fernando Gómez Aparicio</h5>
                    <div class="card-content">
                        <p>Descripción</a>.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7 cardMargins">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="memberImage" src="res/adri.jpg">
                </div>
                <div class="card-stacked">
                    <h5 style="margin-left: 25px" class="header">Marina Castellote García</h5>
                    <div class="card-content">
                        <p>Descripción</a>.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7 cardMargins">
            <div class="card horizontal">
                <div class="card-image">
                    <img class="memberImage"  src="res/adri.jpg">
                </div>
                <div class="card-stacked">
                    <h5 style="margin-left: 25px" class="header">Miguel Ángel Moreno Amaya</h5>
                    <div class="card-content">
                        <p>Descripción</a>.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<div id="tab3" class="section white">
	<div class="container">
  		<div align="center"><img src="res/jira.svg" width="40%" height="40%"  style="padding-bottom: 5%;padding-top: 5%;" class="responsive-img"></div>
		<p class="grey-text text-darken-3 lighten-3">
			Utilizamos la metodología ágil SCRUM con sprints de 4 semanas dónde se especifican las tareas a desarrollar en cada bloque. La gestión de los sprints será controlada por la plataforma de la empresa JIRA.
		</p>
		<p>Cada tarea a desarrollar pasará por 4 fases distintas:</p>	
		<li>
			Por hacer. Son las tareas asignadas al sprint en espera de ser implementadas.
		</li>
		<li>
			En progreso. Son aquellas tareas actualmente en  desarrollo, con un máximo de dos tareas simultáneas por persona.
		</li>
		<li>
			En pruebas. A espera de que el director de proyecto de conformidad. De lo contrario la tarea volverá a estar en progreso.
		</li>
		<li>
			Hecho. Una vez el director de proyecto da conformidad, la tarea queda finalizada.
		</li>
		<p class="grey-text text-darken-3 lighten-3">
			Además, siguiendo dicha metodología realizamos cada día la Scrum Daily Meeting, cuyo objetivo es facilitar la transferencia de información y la colaboración entre los miembros del equipo para aumentar su productividad, al poner de manifiesto puntos en que se pueden ayudar unos a otros.
		</p>
		<p class="grey-text text-darken-3 lighten-3">
			Cada miembro del equipo inspecciona el trabajo que el resto está realizando (i.e. dependencias entre tareas, progreso hacia el objetivo de la iteración, obstáculos que pueden impedir este objetivo, etc), para al finalizar la reunión, poder hacer las adaptaciones necesarias que permitan cumplir con el compromiso conjunto acordado para la iteración.
		</p>
		<img style="padding-bottom: 5%;padding-top: 5%;" class="responsive-img" src="res/img3.png">
	</div>
</div>

<div id="tab4" class="section white">
    <div class="container">

    </div>
</div>

<div id="tab5" class="section white">
    <div class="container">

    </div>
</div>

<div class="container">
	<div class="section">

	  <!--   Icon Section   -->
	  <div class="row">
	    <div class="col s12 m4">
	      <div class="icon-block">
	        <h2 class="center blue-grey-text"><i class="material-icons">flash_on</i></h2>
	        <h5 class="center">Speeds up development</h5>

	        <p class="light">Escribir algo resumido sobre las ventajas de la metodología.</p>
	      </div>
	    </div>

	    <div class="col s12 m4">
	      <div class="icon-block">
	        <h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
	        <h5 class="center">Team Experience</h5>

	        <p class="light">Escribir algo resumido sobre las ventajas del equipo.</p>
	      </div>
	    </div>

	    <div class="col s12 m4">
	      <div class="icon-block">
	        <h2 class="center blue-grey-text"><i class="material-icons">settings</i></h2>
	        <h5 class="center">Easy to work with</h5>

	        <p class="light">Escribir algo resumido sobre las ventajas de las tecnologías.</p>
	      </div>
	    </div>
	  </div>

	</div>
	<br><br>

	<div class="section">

	</div>
</div>

<footer class="page-footer blue-grey lighten-2">
	<div class="container">
		<div class="row">
	  		<div class="col l6 s12">
	    		<h5 class="white-text">Footer Content</h5>
	  		</div>
	  		<div class="col l4 offset-l2 s12">
		    <h5 class="white-text">Links</h5>
		    <ul>
				<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Eventual
		</div>
	</div>
</footer>
	
<!--Autoscroll, parallax and scrollFire-->
<script type="text/javascript">
	var scrolling = false;

	function scrollToTabs() {
		setTimeout(function() {
			if(!scrolling && $("#topTabs").offset().top - $(window).scrollTop() != 0) {
				scrolling = true;
				setTimeout(function() {scrolling = false}, 1500);
	    		$('html, body').animate({
	        		scrollTop: $("#topTabs").offset().top
	    		}, 1400);
    		}
		},50);
	}

	$("#buttonTab1").click(scrollToTabs);
	$("#buttonTab2").click(scrollToTabs);
	$("#buttonTab3").click(scrollToTabs);

	$(document).ready(function(){
  		$('.parallax').parallax();
	});

</script>

<style type="text/css">
	p,li {
		text-align: justify;
		text-justify: inter-word;
	}

    .memberImage {
        overflow: hidden;
        width: 233px;
        height: 372px
    }

    .cardMargins {
        padding-top: 15px;
        padding-bottom: 15px;
    }
</style>
