p,li {
    text-align: justify;
    text-justify: inter-word;
}

.tabsContentDiv {
    margin-top: 80px;
    margin-bottom: 80px;
}

.memberImage {
    overflow: hidden;
}

.cardMargins {
    padding-top: 15px;
    padding-bottom: 15px;
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out !important;
}

.headroom--unpinned {
    top: -120px !important;
}

.headroom--pinned {
    top: 0 !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nobottommargin {
    padding: 0 !important;
    margin: 0 !important;
}

.name {
    padding: 0 !important;
    margin-left: 20px !important;
    margin-bottom: 40px;
    margin-top: 15px;
    margin-right: 20px;
}

.description {
    padding: 0 !important;
    margin-left: 20px !important;
    margin-right: 20px;
    margin-bottom: 30px;
}

.cent {
    align-items: center;
    align-content: center;
}

.imagediv {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.card.horizontal .card-image img {
    max-width: 233px;
}

.margin-video {
    margin-top: 120px;
}