p,li {
    text-align: justify;
    text-justify: inter-word;
}

.tabsContentDiv {
    margin-top: 20px;
}

.memberImage {
    overflow: hidden;
    width: 233px;
    height: 372px
}

.cardMargins {
    padding-top: 15px;
    padding-bottom: 15px;
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out !important;
}

.headroom--unpinned {
    top: -120px !important;
}

.headroom--pinned {
    top: 0 !important;
}